@model List<Book>

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="text-center">
    <h1 class="display-4"></h1>
    <p><a href="https://docs.microsoft.com/aspnet/core"></a></p>


</div>
