<div class="col-lg-6">
    <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
        <div class="iq-card-header d-flex justify-content-between mb-0">
            <div class="iq-header-title">
                <h4 class="card-title">Öne Çıkan Yazarlar</h4>
            </div>
            <div class="iq-card-header-toolbar d-flex align-items-center">
                <div class="dropdown">
                    <span class="dropdown-toggle p-0 text-body" id="dropdownMenuButton3" data-toggle="dropdown">
                        This Week<i class="ri-arrow-down-s-fill"></i>
                    </span>
                    <div class="dropdown-menu dropdown-menu-right shadow-none" aria-labelledby="dropdownMenuButton3">
                        <a class="dropdown-item" href="#"><i class="ri-eye-fill mr-2"></i>View</a>
                        <a class="dropdown-item" href="#"><i class="ri-delete-bin-6-fill mr-2"></i>Delete</a>
                        <a class="dropdown-item" href="#"><i class="ri-pencil-fill mr-2"></i>Edit</a>
                        <a class="dropdown-item" href="#"><i class="ri-printer-fill mr-2"></i>Print</a>
                        <a class="dropdown-item" href="#"><i class="ri-file-download-fill mr-2"></i>Download</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="iq-card-body">
            <ul class="list-inline row mb-0 align-items-center iq-scrollable-block">
                <li class="col-sm-6 d-flex mb-3 align-items-center">
                    <div class="icon iq-icon-box mr-3">
                        <a href="javascript:void();"><img class="img-fluid avatar-60 rounded-circle" src="/BookTheme/html/images/user/06.jpg" alt=""></a>
                    </div>
                    <div class="mt-1">
                        <h6>Brandon Guidelines</h6>
                        <p class="mb-0 text-primary">Publish Books: <span class="text-body">2831</span></p>
                    </div>
                </li>
                <li class="col-sm-6 d-flex mb-3 align-items-center">
                    <div class="icon iq-icon-box mr-3">
                        <a href="javascript:void();"><img class="img-fluid avatar-60 rounded-circle" src="/BookTheme/html/images/user/02.jpg" alt=""></a>
                    </div>
                    <div class="mt-1">
                        <h6>Hugh Millie-Yate</h6>
                        <p class="mb-0 text-primary">Publish Books: <span class="text-body">432</span></p>
                    </div>
                </li>
                <li class="col-sm-6 d-flex mb-3 align-items-center">
                    <div class="icon iq-icon-box mr-3">
                        <a href="javascript:void();"><img class="img-fluid avatar-60 rounded-circle" src="/BookTheme/html/images/user/03.jpg" alt=""></a>
                    </div>
                    <div class="mt-1">
                        <h6>Nathaneal Down</h6>
                        <p class="mb-0 text-primary">Publish Books: <span class="text-body">5471</span></p>
                    </div>
                </li>
                <li class="col-sm-6 d-flex mb-3 align-items-center">
                    <div class="icon iq-icon-box mr-3">
                        <a href="javascript:void();"><img class="img-fluid avatar-60 rounded-circle" src="/BookTheme/html/images/user/04.jpg" alt=""></a>
                    </div>
                    <div class="mt-1">
                        <h6>Thomas R. Toe</h6>
                        <p class="mb-0 text-primary">Publish Books: <span class="text-body">8764</span></p>
                    </div>
                </li>
                <li class="col-sm-6 d-flex mb-3 align-items-center">
                    <div class="icon iq-icon-box mr-3">
                        <a href="javascript:void();"><img class="img-fluid avatar-60 rounded-circle" src="/BookTheme/html/images/user/05.jpg" alt=""></a>
                    </div>
                    <div class="mt-1">
                        <h6>Druid Wensleydale</h6>
                        <p class="mb-0 text-primary">Publish Books: <span class="text-body">8987</span></p>
                    </div>
                </li>
                <li class="col-sm-6 d-flex mb-3 align-items-center">
                    <div class="icon iq-icon-box mr-3">
                        <a href="javascript:void();"><img class="img-fluid avatar-60 rounded-circle" src="/BookTheme/html/images/user/06.jpg" alt=""></a>
                    </div>
                    <div class="mt-1">
                        <h6>Natalya Undgrowth</h6>
                        <p class="mb-0 text-primary">Publish Books: <span class="text-body">2831</span></p>
                    </div>
                </li>
                <li class="col-sm-6 d-flex mb-3 align-items-center">
                    <div class="icon iq-icon-box mr-3">
                        <a href="javascript:void();"><img class="img-fluid avatar-60 rounded-circle" src="/BookTheme/html/images/user/07.jpg" alt=""></a>
                    </div>
                    <div class="mt-1">
                        <h6>Desmond Eagle</h6>
                        <p class="mb-0 text-primary">Publish Books: <span class="text-body">4324</span></p>
                    </div>
                </li>
                <li class="col-sm-6 d-flex mb-3 align-items-center">
                    <div class="icon iq-icon-box mr-3">
                        <a href="javascript:void();"><img class="img-fluid avatar-60 rounded-circle" src="/BookTheme/html/images/user/08.jpg" alt=""></a>
                    </div>
                    <div class="mt-1">
                        <h6>Lurch Schpellchek</h6>
                        <p class="mb-0 text-primary">Publish Books: <span class="text-body">012</span></p>
                    </div>
                </li>
                <li class="col-sm-6 d-flex mb-3 align-items-center">
                    <div class="icon iq-icon-box mr-3">
                        <a href="javascript:void();"><img class="img-fluid avatar-60 rounded-circle" src="/BookTheme/html/images/user/09.jpg" alt=""></a>
                    </div>
                    <div class="mt-1">
                        <h6>Natalya Undgrowth</h6>
                        <p class="mb-0 text-primary">Publish Books: <span class="text-body">2831</span></p>
                    </div>
                </li>
                <li class="col-sm-6 d-flex mb-3 align-items-center">
                    <div class="icon iq-icon-box mr-3">
                        <a href="javascript:void();"><img class="img-fluid avatar-60 rounded-circle" src="/BookTheme/html/images/user/10.jpg" alt=""></a>
                    </div>
                    <div class="mt-1">
                        <h6>Natalya Undgrowth</h6>
                        <p class="mb-0 text-primary">Publish Books: <span class="text-body">2831</span></p>
                    </div>
                </li>
                <li class="col-sm-6 d-flex mb-3 align-items-center">
                    <div class="icon iq-icon-box mr-3">
                        <a href="javascript:void();"><img class="img-fluid avatar-60 rounded-circle" src="/BookTheme/html/images/user/11.jpg" alt=""></a>
                    </div>
                    <div class="mt-1">
                        <h6>Natalya Undgrowth</h6>
                        <p class="mb-0 text-primary">Publish Books: <span class="text-body">2831</span></p>
                    </div>
                </li>
                <li class="col-sm-6 d-flex mb-3 align-items-center">
                    <div class="icon iq-icon-box mr-3">
                        <a href="javascript:void();"><img class="img-fluid avatar-60 rounded-circle" src="/BookTheme/html/images/user/01.jpg" alt=""></a>
                    </div>
                    <div class="mt-1">
                        <h6>Natalya Undgrowth</h6>
                        <p class="mb-0 text-primary">Publish Books: <span class="text-body">2831</span></p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>