
<footer class="iq-footer">
    <div class="container-fluid">


        <div class="col-lg-6 text-right">
            @DateTime.Now.ToString("dd/MMM/yyyy") <a href="#">Kitap Dünyası</a> Tüm Haklar Saklıdır..
        </div>

    </div>
</footer>