<div class="iq-sidebar">
    <div class="iq-sidebar-logo d-flex justify-content-between">
        <a href="index-2.html" class="header-logo">
            <img src="/BookTheme/html/images/logo.png" class="img-fluid rounded-normal" alt="">
            <div class="logo-title">
                <span class="text-primary text-uppercase">Book World</span>
            </div>
        </a>
        <div class="iq-menu-bt-sidebar">
            <div class="iq-menu-bt align-self-center">
                <div class="wrapper-menu">
                    <div class="main-circle"><i class="las la-bars"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div id="sidebar-scrollbar">
        <nav class="iq-sidebar-menu">
            <ul id="iq-sidebar-toggle" class="iq-menu">
                <li class="active active-menu">
                    <a href="#dashboard" class="iq-waves-effect" data-toggle="collapse" aria-expanded="true"><span class="ripple rippleEffect"></span><i class="las la-home iq-arrow-left"></i><span>Özetler</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                    <ul id="dashboard" class="iq-submenu collapse show" data-parent="#iq-sidebar-toggle">
                        <li class="active"><a href="index-2.html"><i class="las la-house-damage"></i>Ana Sayfa</a></li>
                        <li><a href="~/BookTheme/html/category.html"><i class="ri-function-line"></i>Türler</a></li>
                        <li><a href="~/Summary/SummaryAll"><i class="ri-book-line"></i>Kitap Özetleri</a></li>
                        <li><a href="book-pdf.html"><i class="ri-file-pdf-line"></i>Özet PDF</a></li>
                        @*<li><a href="Checkout.html"><i class="ri-checkbox-multiple-blank-line"></i>Checkout</a></li>*@
                        @*<li><a href="wishlist.html"><i class="ri-heart-line"></i>wishlist</a></li>*@
                    </ul>
                </li>
                <li>
                    <a href="#admin" class="iq-waves-effect" data-toggle="collapse" aria-expanded="false"><span class="ripple rippleEffect"></span><i class="ri-admin-line"></i><span>Admin</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                    <ul id="admin" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                        <li><a href="admin-dashboard.html"><i class="ri-dashboard-line"></i>Gösterge Paneli</a></li>
                        <li><a href="admin-category.html"><i class="ri-list-check-2"></i>Türler</a></li>
                        <li><a href="admin-author.html"><i class="ri-file-user-line"></i>Yazar</a></li>
                        <li><a href="admin-books.html"><i class="ri-book-2-line"></i>Kitaplar</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#userinfo" class="iq-waves-effect" data-toggle="collapse" aria-expanded="false"><span class="ripple rippleEffect"></span><i class="las la-user-tie iq-arrow-left"></i><span>Kullanıcı</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                    <ul id="userinfo" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle" style="">
                        <li><a href="profile.html"><i class="las la-id-card-alt"></i> Profili</a></li>
                        <li><a href="profile-edit.html"><i class="las la-edit"></i> Güncelle</a></li>
                        <li><a href="add-user.html"><i class="las la-plus-circle"></i>Ekle</a></li>
                        <li><a href="user-list.html"><i class="las la-th-list"></i>Yazılarım</a></li>
                    </ul>
                </li>


                @*//Sonra Karar veririz ?? anlamadım*@
                <li>
                    <a href="#ui-elements" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="lab la-elementor iq-arrow-left"></i><span>İletisim & Mesajlar</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                <li class="form">
                    <ul id="ui-elements" class="iq-submenu collapse" data-parent="#ui-elements">
                        <li><a href="form-layout.html"><i class="las la-book"></i>Gelen Kutusu</a></li>
                        <li><a href="form-validation.html"><i class="las la-edit"></i>Giden Kutusu</a></li>
                        <li><a href="form-switch.html"><i class="las la-toggle-off"></i>Yeni Mesaj Oluştur</a></li>

                    </ul>
                </li>

                <li>
                    <a href="#pages" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="las la-file-alt iq-arrow-left"></i><span>Sayfalar</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                    <ul id="pages" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                        <li>
                            <a href="#authentication" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="ri-pages-line"></i><span>Yetkilendirmeler & Dogrulama</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                            <ul id="authentication" class="iq-submenu collapse" data-parent="#pages">
                                <li><a href="sign-in.html"><i class="las la-sign-in-alt"></i>Login</a></li>
                                <li><a href="sign-up.html"><i class="ri-login-circle-line"></i>Register</a></li>
                                <li><a href="pages-recoverpw.html"><i class="ri-record-mail-line"></i>Recover Password</a></li>
                                <li><a href="pages-confirm-mail.html"><i class="ri-file-code-line"></i>Confirm Mail</a></li>
                                <li><a href="pages-lock-screen.html"><i class="ri-lock-line"></i>Lock Screen</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#extra-pages" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="ri-pantone-line"></i><span>Ekstra Sayfalar</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                            <ul id="extra-pages" class="iq-submenu collapse" data-parent="#pages">
                                <li><a href="pages-timeline.html"><i class="ri-map-pin-time-line"></i>Genel Özet</a></li>



                                <li><a href="pages-pricing.html"><i class="ri-price-tag-line"></i>Pricing</a></li>
                                <li><a href="pages-maintenance.html"><i class="ri-archive-line"></i>Pdf & Excel </a></li>

                                <li><a href="pages-error.html"><i class="ri-error-warning-line"></i> 404 Hata Sayfası</a></li>
                                <li><a href="pages-faq.html"><i class="ri-compasses-line"></i>Faq</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="#charts" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false"><i class="ri-pie-chart-box-line"></i><span>Grafikler & Istatistikler</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                            <ul id="charts" class="iq-submenu collapse" data-parent="#pages">
                                <li><a href="chart-morris.html"><i class="ri-file-chart-line"></i>Morris Chart</a></li>
                                <li><a href="chart-high.html"><i class="ri-bar-chart-line"></i>High Charts</a></li>
                                <li><a href="chart-am.html"><i class="ri-folder-chart-line"></i>Am Charts</a></li>
                                <li><a href="chart-apex.html"><i class="ri-folder-chart-2-line"></i>Apex Chart</a></li>
                                <li><a href="chart-morris.html"><i class="ri-file-chart-fill"></i>Temel Tablolar</a></li>
                                <li><a href="chart-morris.html"><i class="ri-folder-chart-fill"></i>İstatistikler</a></li>
                            </ul>


                        </li>
                    </ul>
                </li>

            </ul>
        </nav>
        <div id="sidebar-bottom" class="p-3 position-relative">
            <div class="iq-card">
                <div class="iq-card-body">
                    <div class="sidebarbottom-content">
                        <div class="image"><img src="/BookTheme/html/images/page-img/side-bkg.png" alt=""></div>
                        <a type="button" class="btn w-100 btn-primary mt-4 view-more" href="~/User/AddUser">Üye Ol</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>