

@*<table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Kategori</th>

        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.BookId</td>
                <td>@item.BookName</td>

    
            </tr>
        }
    </table>*@